.modal-header
    h3.modal-title(translate='') Unauthenticated
.modal-body
    .row
        .col-sm-12
            span {{'Your Login has expired!'|translate}}
            &nbsp;
            span {{'Please, '|translate}}
            a(ng-click='login()') {{'re-login'|translate}}
.modal-footer
    button.btn-accent.btn(
        style='margin-left: 10px;',
        ng-click='login()')
        span {{'Re-login'|translate}}
