.modal-dialog(role="document")
    .modal-content
        .modal-header
            h4.modal-title {{'Accidentally Logged out?'|translate}}
        .modal-body
            span {{'No worries, simply log back in with the button below.!'|translate}}
        .modal-footer
            button.btn.btn-primary(ng-click='login()')
                span {{'Log back in'|translate}}
